<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZExcelAddIn.Properties.Settings>
            <setting name="ズーム率" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="カーソル位置" serializeAs="String">
                <value>A1</value>
            </setting>
            <setting name="上記に続けて" serializeAs="String">
                <value>上記に続けて確認</value>
            </setting>
            <setting name="列を記憶" serializeAs="String">
                <value>A</value>
            </setting>
        </ZExcelAddIn.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
